
@{
    ViewBag.Title = "AdvisorsList";
}

<link href="~/Dist/css/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
               
                <div class="col-sm-12 mt-3">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Advisors List</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="section-header">
                        <h3 class="section-title">Advisors List</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Szabist ID</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody></tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<script src="~/Dist/lib/jquery/jquery.min.js"></script>
<script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                url: "/Admin/GetAdvisorsList",
                success: function (data) {
                    bindCustomersInDataTable(data);
                }
            });


            function bindCustomersInDataTable(data) {
                var status = "Blocked".toString();
                var table = $('#example2').DataTable({
                    data: data.data,


                    columns: [

                        { data: 'AdvisorsName' },
                        { data: 'Advisor_Email' },//or { data: 'MONTH', title: 'Month' }`
                        { data: 'Advisor_Uni_ID' },

                        {
                            "data": "Id",
                            "render": function (Id, type, full, meta) {

                                return '<a href="#" class="btn btn-primary" onclick="UpdateDescription(' + Id + ')"><i class="">Update Description</i>'

                            },
                            "orderable": true,
                            "searchable": true,


                        }
                    ]
                });

            }


        });

        function UpdateDescription(ID) {

            var url = "/Admin/UpdateAdvisorDetails?Id=" + ID;
            window.location.href = url;
            //window.location.reload;

            //$("#modelbody").load(url, function (e) {
            //    var id = $('#Customer_Id').val();
            //    if (id > 0) {
            //        $('#btnaddnewcustomer').html("update ");
            //    }
            //    $("#modal-default").modal("show");
            //});
        }

        

</script>
