<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Deliverable Details</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">

</head>

<body>


    <main id="main">

        <section id="about">
            <div class="container">

                <header class="section-header">
                    <h3>Deliverable Details</h3>
                    <div>

                        <h4>   A. Current Deliverables:</h4>

                        <h5> 5. Iteration-III Deliverables: </h5>

                        <p> Submit all required deliverables of Iteration-III as "One Spiral Copy" enclosing the partitioned documentation in following order:</p>
                        <h6> I. SRS</h6>
                        <li>  1 copy of SRS containing requirement details of both FYP-I and FYP-II</li>
                        <li>  All Requirement deliverables / artifacts must be enlcosed within SRS</li>
                        <h6> II. SDS</h6>
                        <li>All Design deliverables / artifacts must be enlcosed within SDS</li>
                        <h6> III. Testing Documentation</h6>

                        <h6> -SRS Template: </h6>
                        <li>Don't write a separate SRS for FYP-II, rather extend the previous submitted SRS of FYP-I and add the new requirement related details of FYP-II.</li>
                        <li>All Requirements driven deliverables / artifacts such as SSDs, Use Cases, Use Case Diagram, Domain Model or any other should be placed within relevant sections of SRS template or otherwise enclosed as Appendix within SRS template.</li>

                        <h6>  -SDS Template :  </h6>
                        <li> All Design driven deliverables / artifacts such as Class Diagrams, ERDs, Sequence / Interaction Diagrams or any other should be placed within relevant sections of SDS template or otherwise enclosed as Appendix within SDS template.</li>

                        <h6>ERD / Related Artifact:</h6>
                        <li>All those groups who have relevant ERDs must submit it. For others, who think it's not relevant to their project must submit a relevant "MODEL/Representation" that shows / explains "Data / Information" needs of the project, the source, the size of data set, the layout of data, the no. of files, no. of records, training / testing data set sizes etc.     </li>

                        <h6>AI/ML/Network/Algo. - Other Relevant Documentation:</h6>
                        <li> All groups falling theses domains must also submit SRS, SDS and Testing Documentation.</li>
                        <li>The documentation of such groups is not satisfactory in general.</li>
                        <li>Groups must submit other relevant documentation representing their own implementation model, the working of algorithm, flow chart of the implementation model, training vs testing details, evaluation results and statistics and their relevant diagrams(pie-charts or other graphs).</li>

                        <br>

                        <h5>B. Past Deliverables: </h5>

                        <h6> 4. Iteration-II Deliverables: </h6>
                        <li>Design Class Diagram (DCD) is relevant to Design Phase. </li>
                        <li> Represents Software Classes of System. </li>
                        <li> Represents Static Representation of Software System as a whole.</li>
                        <li>DCD uses same UML Class Diagram notation as Domain Model.</li>

                        <li> Sequence Diagram OR Interaction Diagrams are synonymous.
                        <li> The only difference is in the notation used to model the diagrams. Otherwise they represent the same thing.</li>
                        <li> SDs representing the dynamism between objects to perform a certain task i.e. specific use case mapping to an SD</li>
                        <li>  SDs represent how different objects of classes interact to perform the steps of Use Case or its    corresponding SSD</li>
                        <li> Each SSD (developed in Requirement phase) along with its corresponding Use Case is converted into SD in             design phase.</li>
                        <br>

                        <h6>  3. Iteration-I Deliverables: </h6>

                        <h5>   a. Submission Guidelines:</h5>
                        <li> Submit all relevant documents to Sir Faraz by 11th October, 2019  4:00pm</li>
                        <li>Only one member of the group should submit the hard copy.</li>

                        <h5>  b. Guidelines / Details on Artifacts: </h5>
                        <li> Iteration Plan represents set of iterations required to produced a system. </li>
                        <li>  A system can comprise of N number of iterations. </li>
                        <li>  A system is composed of F number of features.</li>
                        <li>  Each Iteration can focus on multiple number of features in parallel and can produce implementation along with testing of one or more features.</li>
                        <li> Each feature would comprise of all phases of SDLC.  </li>
                        <li> Sample Iteration Plan is attached within table on deliverables page.</li>

                        - Use Case Diagrams (UCDs) represent Use Cases (UCs) in diagrammatic form.
                        - Use Cases are descriptive and are different from UCDs.
                        Instead of One Big UCD, you can model a feature driven UCD, where each feature can comprise of multiple tasks.
                        e.g. Feature: Account and Profile - Tasks: Sign up, Sign In,  Forgot Password, Profile (CRUD/Add, Update, View/Filters, Delete, Search etc)

                        <b> Domain Model  (DM) </b> is different from Design Class Diagram (DCD).
                        DM is relevant to Requirements Phase. Represents Conceptual Classes of System.
                        DCD is relevant to Design Phase. Represents Software Classes of System.
                        Both Models use same UML Class Diagram notation.

                        <b> ERD : </b> If Not Applicable:    Submit other relevant Requirement  Artifacts

                        <b> SSD: </b>Sample SSD is attached in table on deliverables page.

                        <br>

                        <h5>   2. Proposal Defense: </h5>
                        <li>  Schedule</li>
                        <li> Reviews & Outcome</li>

                        <h5>   1. Proposal Submission</h5>
                        Submission Guidelines:
                        <b> a. Hard copy:</b>
                        <li>Proposal, Advisor Form(Signature Mandatory) and Gantt. Chart. </li>
                        <li>Only one member of the group should submit the hard copy.</li>

                        <b>   b. Soft copy: </b>
                        <li>Make a RAR / ZIP Archive file enclosing all three documents</li>
                        <li>Advisor form signature is optional</li>
                        <li>Only one member of the group should submit the soft copy</li>
                        <li>Email Subject should be Project name - Reg. No.1 & Reg. No. 2 - FYP19 </li>
                        <li>Email: szabist-fyp at szabist dot edu dot pk        </li>


                        <h5> C. Upcoming Deliverables:       </h5>

                        <h6>  6. Iteration-IV  Deliverables: </h6>

                        Submit all required deliverables as One Spiral Copy enclosing the partitioned documentation in following order:
                        <b>  I. SRS (Revised, if required)</b>
                        <li> 1 copy of SRS containing requirement details of both FYP-I and FYP-II</li>
                        <link /> All Requirement deliverables must be enlcosed within SRS</li>
                        <b>  II. SDS (Revised, if required)</b>
                        <li> All Design deliverables / artifacts must be enlcosed within SDS</li>
                        <b>  III. Testing Documentation (Revised, if required)</b>

                        <li>
                            AI/ML/Network/Algo.
                        </li> Other Relevant Documentation:
                        <li> All groups falling theses domains must also submit SRS, SDS and Testing Documentation.</li>
                        <li>  The documentation of such groups is not satisfactory in general.</li>
                        <li> Groups must submit other relevant documentation representing their own implementation model, the working of algorithm, flow chart of the implementation model, training vs testing details, evaluation results and statistics and their relevant diagrams(pie-charts or other graphs).</li>


                        <h5>D. RECOMMENDED COVERAGE: ITERATION BASED FEATURE DRIVEN PROJECT SCOPE</h5>
                        <br>
                        <h6>   3. ITERATION-I</h6>
                        <li>    R: Requirements ~ 50% of FYP-I</li>

                        <li>    D: Design ~ Optional</li>

                        <li> I: Implementation ~ Optional</li>

                        <li>    T: Testing ~ Optional</li>
                        <br>

                        <h6> 4. ITERATION-II</h6>

                        <li>R: Requirements ~100% of FYP-I & ~50% of FYP-II</li>

                        <li>    D: Design ~50% of FYP-I</li>

                        <li> I: Implementation ~40% of FYP-I</li>

                        <li>T: Testing ~25% of FYP-I    </li>

                        <br>

                        <h6> 5. ITERATION-III</h6>

                        <li>  R: Requirements ~Revisions of FYP-I & ~100% of FYP-II</li>

                        <li>    D: Design ~100% of FYP-I</li>

                        <li> I: Implementation ~70% of FYP-I</li>

                        <li>    T: Testing ~100% of FYP-I</li>

                        <br>

                        <h6>    6. ITERATION-IV</h6>

                        <li>  R: Requirements ~Revisions of FYP-II</li>

                        <li>D: Design ~Revisions of FYP-I & 100% of FYP-II</li>

                        <li>I: Implementation ~100% of FYP-I</li>

                        <li>  T: Testing ~100% of FYP-I</li>




                    </div>
                </header>



            </div>
        </section>


    </main>


    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->
    <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/superfish/hoverIntent.js"></script>
    <script src="lib/superfish/superfish.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="js/main.js"></script>

</body>
</html>
