@model FYPAUtOMATION.Models.AdminDocument

@{
    ViewBag.Title = "Project Details";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                
                <div class="col-sm-12 mt-3">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Project Details</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="section-header">
                        <h3 class="section-title">Project Details</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <form id="annoucnementform" method="post">
                            <div class="row">
                                <div class="col-sm-12">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Title</label>
                                        @Html.EditorFor(model => model.Document_Name, new { htmlAttributes = new { @placeholder = "Title", @class = "form-control", @id = "txtboxempname" } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Document_Name, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>File</label>
                                        <input type="file" id="docfile" value="" />
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="button" id="btnsubmit" value="Add Road Map" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Title</th>
                            
                                    <th>Action</th>
                                    
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>


                    </div>
                    <!-- /.card -->
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </section>
    <!-- /.content -->
</div>

<script src="~/Dist/lib/jquery/jquery.min.js"></script>
<script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                url: "/Admin/GetProjectRoadmap",
                success: function (data) {
                    bindCustomersInDataTable(data);
                }
            });


            function bindCustomersInDataTable(data) {
                console.log(data.data);
                var status = "Blocked".toString();
                var table = $('#example2').DataTable({
                    data: data.data,


                    columns: [

                        { data: 'Title' },
                        

                        {
                            "data": "ID",
                            "render": function (Id, type, full, meta) {

                                return '<a href="#" class="btn btn-primary mr-3" onclick="Download(' + Id + ')"><i class="">Download</i><a href="#" class="btn btn-primary" onclick="Delete(' + Id + ')"><i class="fa fa-eye">Delete</i>'

                            },
                            "orderable": true,
                            "searchable": true,


                        }

                    ]
                });

            }


            $('#btnsubmit').click(function (e) {


                var form = $('#annoucnementform')[0];
                var file = $("#docfile").get(0).files;
                var formdata = new FormData(form);
                formdata.append("Document", file[0]);


                $.ajax({
                    type: 'Post',
                    data:formdata,// $(form).serialize(),
                    url: "/Admin/UploadProjectRoadmap",
                    contentType: false,
                    processData: false,
                    cache: false,
                    success: function (data) {
                        if (data.success) {
                            alert(data.msg);
                            location.reload();
                        }
                    }
                });

            });


         




        });

        function Download(ID) {
        
            window.location.href = "/student/DownloadProjectRoadMap?id=" + ID;
        }

        function Delete(ID) {
            $.post("/Admin/DeletePRojectRoadMAp", { id: ID }, function (data) {
                alert(data.msg);
                window.location.reload;
            });
        }


</script>