@model FYPAUtOMATION.Models.AdminDocument

@{
    ViewBag.Title = "Project Details";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Project Details</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Project Details</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Project Details</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <form id="annoucnementform" method="post">
                            <div class="row">
                                <div class="col-sm-12">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Title</label>
                                        @Html.EditorFor(model => model.Document_Name, new { htmlAttributes = new { @placeholder = "Title", @class = "form-control", @id = "txtboxempname" } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Document_Name, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>File</label>
                                        <input type="file" id="docfile" value="" />
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="button" id="btnsubmit" value="Add Road Map" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </section>
    <!-- /.content -->
</div>

<script src="~/Dist/lib/jquery/jquery.min.js"></script>
<script type="text/javascript">
        $(document).ready(function () {


            $('#btnsubmit').click(function (e) {


                var form = $('#annoucnementform')[0];
                var file = $("#docfile").get(0).files;
                var formdata = new FormData(form);
                formdata.append("Document", file[0]);


                $.ajax({
                    type: 'Post',
                    data:formdata,// $(form).serialize(),
                    url: "/Admin/UploadProjectRoadmap",
                    contentType: false,
                    processData: false,
                    cache: false,
                    success: function (data) {
                        if (data.success) {
                            alert(data.msg);
                            location.reload();
                        }
                    }
                });

            });








        });



</script>