<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Szabgit</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">

</head>

<body>


    <main id="main">

        <section id="about">
            <div class="container">

                <header class="section-header">
                    <h3>Szabgit</h3>
                    <p>
                        All groups are required to update their projects on github on weekly or fortnightly basis. [ Mandatory ]
                        Sign up for your github ID  from here or through local network from here.

                        <b>Refer to Szabgit PDF Guide</b>

                    </p>

                    <div class="container">
                        <div class="row">


                            <div class="col-lg-3 col-md-6 footer-links">
                                <h4>Lab Engineers:</h4>
                                <ul>
                                    <li><i class="ion-ios-arrow-right"></i> <a href="#">Mr. Faraz Afsar</a></li>
                                    <li><i class="ion-ios-arrow-right"></i> <a href="#">Mr. Sikandar Khan</a></li>

                                </ul>
                            </div>

                            <div class="col-lg-3 col-md-6 footer-contact">
                                <h4>Email</h4>
                                <p>
                                    syed.faraz@szabist.edu.pk<br>
                                    sikandar.khan@szabist.edu.pk <br>

                                </p>


                            </div>

                            <div class="col-lg-3 col-md-6 footer-newsletter">
                                <h4>Timmings</h4>
                                <p>
                                    9.00AM to 5.00PM <br>
                                    9.00AM to 5.00PM
                                </p>
                            </div>


                            <div class="col-lg-3 col-md-6 footer-info">
                                <h4>Location</h4>
                                Game Development Lab
                                5th Floor, 100 Campus
                                Extension: 153
                            </div>
                        </div>
                    </div>


                    <b>Note: Dear Students Put your Reg ID as user name while registering on GitLab.</b>
                </header>

            </div>
        </section>


    </main>


    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->
    <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/superfish/hoverIntent.js"></script>
    <script src="lib/superfish/superfish.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="js/main.js"></script>

</body>
</html>
